.profile__edit-button {
  align-items: center;
  background-image: url("../../../images/edit-button-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  grid-area: edit-button;
  height: 24px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 24px;
}

@media (max-width: 1279px) {
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    height: 18px;
    width: 18px;
  }
}
