.profile__edit-button {
  align-items: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  grid-area: edit-button;
  height: 24px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 24px;
}

@media (max-width: 1279px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
