.form__place-info {
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  opacity: unset;
  padding: 0;
  width: 358px;
}

@media (max-width: 1279px) {
  .form__place-info {
    width: 238px;
  }
}
