.card__likes-number {
  color: #000;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 0;
  margin-right: 26px;
  margin-bottom: 18px;
  align-self: flex-end;
  justify-self: end;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  display: block;
}
