.elements {
  background-color: rgb(172, 111, 189);
  max-width: 880px;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 50px;
}
