.profile__name {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  grid-area: name;
  line-height: 1.14;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1279px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    padding-left: 22px;
    text-align: center;
  }
}
