.form__submit_inactive {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
}

.form__submit_inactive:hover {
  background-color: #fff;
  cursor: default;
}
