.profile__info {
  align-items: center;
  column-gap: 18px;
  display: grid;
  grid-template-areas: "name edit-button" "text .";
  padding-left: 30px;
  padding-top: 22px;
  row-gap: 16px;
}

@media (max-width: 1279px) {
  .profile__info {
    column-gap: 10px;
    grid-template-areas: "name edit-button" "text text";
    padding-left: 0;
    padding-top: 26px;
    row-gap: 14px;
  }
}
