.card__name {
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
