.popup__profile-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border: none;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 27px;
  line-height: 17px;
  margin-top: 30px;
}
