.card {
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "image image" "name like-button";
  overflow: hidden;
  align-items: center;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 189px 1fr;
}
